extends layout

block content
  script(src='/javascripts/tnc.js')
  head
  body
  h1= title
  p Welcome to !{mycall}
  p
  form(name="send-text", method="post")
        div.input
            span.label Call Sign
            input(type="text", name="callsign")
        div.input
            p
            span.label Message
            textarea(name="message", cols="20", rows="3")
            p
        div.actions
            input(type="submit", value="SEND")
  p


  

 
  
